In [150]:
import pandas as pd

In [151]:
data={'a':0,'b':1,'c':2}
s=pd.Series(data)
print(s)

a    0
b    1
c    2
dtype: int64

In [152]:
data={'a':0,'b':1,'c':2}
s=pd.Series(data,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [153]:
s=pd.Series(5,index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [154]:
print(s[0])

5

In [155]:
s=pd.Series([5,4,88,66],index=[0,1,2,3])
print(s)

0     5
1     4
2    88
3    66
dtype: int64

In [156]:
print(s[3]) #accessing perticular element of the series,list or object.

66

In [157]:
print(s[:3])

0     5
1     4
2    88
dtype: int64

In [158]:
print(s[:])

0     5
1     4
2    88
3    66
dtype: int64

In [159]:
print(s[1:])

1     4
2    88
3    66
dtype: int64

In [160]:
print(s[2:])

2    88
3    66
dtype: int64

In [161]:
print(s[3:])

3    66
dtype: int64

In [162]:
print(s[:1])

0    5
dtype: int64

In [163]:
print(s[-3:])

1     4
2    88
3    66
dtype: int64

In [164]:
import pandas as pd
import numpy as np

In [165]:
data=np.array(['a','b','c','d'])
s=pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [166]:
data=[1,23,4,5,55,4]
df=pd.DataFrame(data)
print(df)

    0
0   1
1  23
2   4
3   5
4  55
5   4

In [167]:
data=[1,23,4,5,55,4]
df=pd.DataFrame(data)
df

    0
0   1
1  23
2   4
3   5
4  55
5   4

In [168]:
data=[['Alex',10],['helix',20],['clake',30]] #list of list
df=pd.DataFrame(data)
df

       0   1
0   Alex  10
1  helix  20
2  clake  30

In [169]:
data=[['Alex',10],['helix',20],['clake',30]] #list of list
df=pd.DataFrame(data,columns=['name','age'])
df

    name  age
0   Alex   10
1  helix   20
2  clake   30

In [170]:
data=[['Alex',10],['helix',20],['clake',30]] #list of list
df=pd.DataFrame(data,columns=['name','age'],index=['a','b','c'])
df

    name  age
a   Alex   10
b  helix   20
c  clake   30

In [171]:
#creating dataframe from dictionary
#passing  dictionary of lists

data={'Name':['tom','jack','steve'],'Age':[28,25,45]}
df=pd.DataFrame(data)
df

#here we didnt define column names from the constructor, it is a examples overloading or polimorfism

    Name  Age
0    tom   28
1   jack   25
2  steve   45

In [172]:
#if we use this type then both age and name will come in name column
data={'Name':{'tom':28,'jack':25,'steve':45}}
df=pd.DataFrame(data)
df

       Name
jack     25
steve    45
tom      28

In [173]:
#passing list of dictionaries
data=[{'Name':'avi','age':30,'marks':88},{'Name':'Anuj','age':40,'marks':45}]
df=pd.DataFrame(data,index=['A','B'])
df

   Name  age  marks
A   avi   30     88
B  Anuj   40     45

In [174]:
#taking two dataframs and different columns and index names
data=[{'avi',30,88},{'Anuj',40,45}]
df1=pd.DataFrame(data,index=['A','B'],columns=['name','age','marks'])
df2=pd.DataFrame(data,index=[1,2],columns=['N','A','M'])
print(df1)
print('\n')
print(df2)

   name   age  marks
A    88   avi     30
B    40  Anuj     45


    N     A   M
1  88   avi  30
2  40  Anuj  45

In [175]:
data=[{'avi',30,88},{'Anuj',40,45}]
df1=pd.DataFrame(data,index=[1,2],columns=['name','age','marks'])
df2=pd.DataFrame(data,index=[1,2],columns=['N','A','M'])
print(df1)
print('\n')
print(df2)

   name   age  marks
1    88   avi     30
2    40  Anuj     45


    N     A   M
1  88   avi  30
2  40  Anuj  45

In [176]:
#Dictionary of series objects
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [177]:
print(d['one']) #how to access perticular column

a    1
b    2
c    3
dtype: int64

# Exercises - Lab Work Assignment

In [178]:
# List-to-Series Conversion
given_list = [2, 4, 5, 6, 9]

series = pd.Series(given_list)
series

0    2
1    4
2    5
3    6
4    9
dtype: int64

In [179]:
#List-to-Series Conversion with Custom Indexing
list1 = [2,5,8,6,4]
series = pd.Series(list1,index=['a ->','b ->','c ->','d ->','e ->'])
series

a ->    2
b ->    5
c ->    8
d ->    6
e ->    4
dtype: int64

In [180]:
#Date Series Generation
date_series = pd.date_range(start = '11-05-2021', end = '12-10-2021')

print(date_series)

DatetimeIndex(['2021-11-05', '2021-11-06', '2021-11-07', '2021-11-08',
               '2021-11-09', '2021-11-10', '2021-11-11', '2021-11-12',
               '2021-11-13', '2021-11-14', '2021-11-15', '2021-11-16',
               '2021-11-17', '2021-11-18', '2021-11-19', '2021-11-20',
               '2021-11-21', '2021-11-22', '2021-11-23', '2021-11-24',
               '2021-11-25', '2021-11-26', '2021-11-27', '2021-11-28',
               '2021-11-29', '2021-11-30', '2021-12-01', '2021-12-02',
               '2021-12-03', '2021-12-04', '2021-12-05', '2021-12-06',
               '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10'],
              dtype='datetime64[ns]', freq='D')

In [181]:
#Implementing a function on each and every element of a series
series = pd.Series([2, 4, 6, 8, 10])

print(series) # pandas series initially

print( )

modified_series = series.apply(lambda x:x/2)

print(modified_series) # pandas series after function application

0     2
1     4
2     6
3     8
4    10
dtype: int64

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [182]:
#Dictionary-to-Dataframe Conversion
#Given a dictionary, convert it into corresponding dataframe and display it
dictionary = {'name': ['Vinay', 'Kushal', 'Aman'],
              'age' : [22, 25, 24],
              'occ' : ['engineer', 'doctor', 'accountant']}

dataframe = pd.DataFrame(dictionary)

print(dataframe)

     name  age         occ
0   Vinay   22    engineer
1  Kushal   25      doctor
2    Aman   24  accountant

In [183]:
#2D List-to-Dataframe Conversion

#Given a 2D List, convert it into corresponding dataframe and display it

lists = [[2, 'Vishal', 22],
         [1, 'Kushal', 25],
         [1, 'Aman', 24]]

dataframe = pd.DataFrame(lists, columns = ['id', 'name', 'age'])

print(dataframe)

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

In [184]:
# Reading CSV to Dataframe

#Given a CSV file, read it into a dataframe and display it
dataframe = pd.read_csv('n_movies.csv')

dataframe

,title,year,certificate,duration,genre,rating,description,stars,votes
0,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
...,...,...,...,...,...,...,...,...,...
9952,The Imperfects,(2022– ),TV-MA,45 min,"Action, Adventure, Drama",6.3,After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...","3,130"
9953,The Walking Dead,(2010–2022),TV-MA,44 min,"Drama, Horror, Thriller",8.1,Sheriff Deputy Rick Grimes wakes up from a com...,"['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...","970,067"
9954,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,898"
9955,Supernatural,(2005–2020),TV-14,44 min,"Drama, Fantasy, Horror",8.4,Two brothers follow their father's footsteps a...,"['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...","439,601"
9956,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,786"

In [185]:
print(len(dataframe))

9957

In [186]:
dataframe[15:17]

,title,year,certificate,duration,genre,rating,description,stars,votes
15,I Came By,(2022),TV-MA,110 min,Thriller,6.1,Follows a young graffiti artist who discovers ...,"['Babak Anvari', '| ', ' Stars:', 'Antonio ...","16,230"
16,No Limit,(2022),TV-MA,118 min,"Drama, Romance, Sport",5.8,Roxana Aubrey decides to drop her studies and ...,"['David M. Rosenthal', '| ', ' Stars:', 'Ca...","1,695"

In [187]:
#Setting Custom Index in Dataframe
#Given a dataframe, change the index of a dataframe from the default indexes to a particular column

dataframe_customindex = dataframe.set_index('rating') # custom indexed dataframe with column, 'id'

dataframe_customindex

,title,year,certificate,duration,genre,description,stars,votes
rating,,,,,,,,
8.5,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
8.7,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
8.9,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
5.9,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
8.6,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
...,...,...,...,...,...,...,...,...
6.3,The Imperfects,(2022– ),TV-MA,45 min,"Action, Adventure, Drama",After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...","3,130"
8.1,The Walking Dead,(2010–2022),TV-MA,44 min,"Drama, Horror, Thriller",Sheriff Deputy Rick Grimes wakes up from a com...,"['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...","970,067"
8.7,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,898"
8.4,Supernatural,(2005–2020),TV-14,44 min,"Drama, Fantasy, Horror",Two brothers follow their father's footsteps a...,"['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...","439,601"
5.9,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,786"

In [188]:
# Sorting a Dataframe by Index

# Given a dataframe (say, with custom indexing), sort it by it's index

print(dataframe) # original unsorted dataframe with custom indexing ()

print()

dataframe_sorted = dataframe.sort_index()

dataframe_sorted

                       title         year certificate duration  \
0                  Cobra Kai     (2018– )       TV-14   30 min
1                  The Crown     (2016– )       TV-MA   58 min
2           Better Call Saul  (2015–2022)       TV-MA   46 min
3              Devil in Ohio       (2022)       TV-MA  356 min
4     Cyberpunk: Edgerunners     (2022– )       TV-MA   24 min
...                      ...          ...         ...      ...
9952          The Imperfects     (2022– )       TV-MA   45 min
9953        The Walking Dead  (2010–2022)       TV-MA   44 min
9954               The Crown     (2016– )       TV-MA   58 min
9955            Supernatural  (2005–2020)       TV-14   44 min
9956           Devil in Ohio       (2022)       TV-MA  356 min

                             genre  rating  \
0            Action, Comedy, Drama     8.5
1        Biography, Drama, History     8.7
2                     Crime, Drama     8.9
3           Drama, Horror, Mystery     5.9
4     Animation, Action, Adventure     8.6
...                            ...     ...
9952      Action, Adventure, Drama     6.3
9953       Drama, Horror, Thriller     8.1
9954     Biography, Drama, History     8.7
9955        Drama, Fantasy, Horror     8.4
9956        Drama, Horror, Mystery     5.9

                                            description  \
0     Decades after their 1984 All Valley Karate Tou...
1     Follows the political rivalries and romance of...
2     The trials and tribulations of criminal lawyer...
3     When a psychiatrist shelters a mysterious cult...
4     A Street Kid trying to survive in a technology...
...                                                 ...
9952  After an experimental gene therapy turns them ...
9953  Sheriff Deputy Rick Grimes wakes up from a com...
9954  Follows the political rivalries and romance of...
9955  Two brothers follow their father's footsteps a...
9956  When a psychiatrist shelters a mysterious cult...

                                                  stars    votes
0     ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177,031
1     ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,885
2     ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501,384
3     ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,773
4     ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15,413
...                                                 ...      ...
9952  ['Morgan Taylor Campbell, ', 'Italia Ricci, ',...    3,130
9953  ['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...  970,067
9954  ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,898
9955  ['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...  439,601
9956  ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,786

[9957 rows x 9 columns]

,title,year,certificate,duration,genre,rating,description,stars,votes
0,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
...,...,...,...,...,...,...,...,...,...
9952,The Imperfects,(2022– ),TV-MA,45 min,"Action, Adventure, Drama",6.3,After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...","3,130"
9953,The Walking Dead,(2010–2022),TV-MA,44 min,"Drama, Horror, Thriller",8.1,Sheriff Deputy Rick Grimes wakes up from a com...,"['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...","970,067"
9954,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,898"
9955,Supernatural,(2005–2020),TV-14,44 min,"Drama, Fantasy, Horror",8.4,Two brothers follow their father's footsteps a...,"['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...","439,601"
9956,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,786"

In [189]:
#Sorting a Dataframe by Multiple Columns

#Given a dataframe, sort it by multiple columns

print(dataframe) # original dataframe

print()

dataframe_sorted = dataframe.sort_values(by = ['rating', 'votes']) # dataframe after sorting by 'id' and 'age'

dataframe_sorted

                       title         year certificate duration  \
0                  Cobra Kai     (2018– )       TV-14   30 min
1                  The Crown     (2016– )       TV-MA   58 min
2           Better Call Saul  (2015–2022)       TV-MA   46 min
3              Devil in Ohio       (2022)       TV-MA  356 min
4     Cyberpunk: Edgerunners     (2022– )       TV-MA   24 min
...                      ...          ...         ...      ...
9952          The Imperfects     (2022– )       TV-MA   45 min
9953        The Walking Dead  (2010–2022)       TV-MA   44 min
9954               The Crown     (2016– )       TV-MA   58 min
9955            Supernatural  (2005–2020)       TV-14   44 min
9956           Devil in Ohio       (2022)       TV-MA  356 min

                             genre  rating  \
0            Action, Comedy, Drama     8.5
1        Biography, Drama, History     8.7
2                     Crime, Drama     8.9
3           Drama, Horror, Mystery     5.9
4     Animation, Action, Adventure     8.6
...                            ...     ...
9952      Action, Adventure, Drama     6.3
9953       Drama, Horror, Thriller     8.1
9954     Biography, Drama, History     8.7
9955        Drama, Fantasy, Horror     8.4
9956        Drama, Horror, Mystery     5.9

                                            description  \
0     Decades after their 1984 All Valley Karate Tou...
1     Follows the political rivalries and romance of...
2     The trials and tribulations of criminal lawyer...
3     When a psychiatrist shelters a mysterious cult...
4     A Street Kid trying to survive in a technology...
...                                                 ...
9952  After an experimental gene therapy turns them ...
9953  Sheriff Deputy Rick Grimes wakes up from a com...
9954  Follows the political rivalries and romance of...
9955  Two brothers follow their father's footsteps a...
9956  When a psychiatrist shelters a mysterious cult...

                                                  stars    votes
0     ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177,031
1     ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,885
2     ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501,384
3     ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,773
4     ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15,413
...                                                 ...      ...
9952  ['Morgan Taylor Campbell, ', 'Italia Ricci, ',...    3,130
9953  ['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...  970,067
9954  ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,898
9955  ['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...  439,601
9956  ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,786

[9957 rows x 9 columns]

,title,year,certificate,duration,genre,rating,description,stars,votes
6633,Defcon 2012,(2010),Not Rated,92 min,Sci-Fi,1.7,"On October 30, 2009 an independent filmmaker a...","['R. Christian Anderson', '| ', ' Stars:', ...",407
4987,Way of the Vampire,(2005),R,82 min,"Action, Horror, Thriller",2.0,"After defeating Dracula, Van Helsing is grante...","['Sarah Nean Bruce, ', 'Eduardo Durão', '| ', ...","1,649"
6033,Hajwala: The Missing Engine,(2016),PG-13,96 min,"Action, Adventure, Crime",2.0,Khalid and Kehailan are two team leaders who a...,"['Ali Bin Matar, ', 'Ibrahim Bin Mohamed, ', '...",261
3612,The Hype House,(2022– ),TV-MA,36 min,Reality-TV,2.1,Get an inside look at social media's least tal...,"['Larray, ', 'Alex Warren, ', 'Kouvr Annon, ',...","2,955"
3357,Thomas & Friends: All Engines Go,(2021– ),TV-Y,30 min,"Animation, Short, Adventure",2.1,"All aboard, everyone. It's all engines go as T...","['Ava Ro, ', 'Charlie Zeltzer, ', 'Glee Dango,...",604
...,...,...,...,...,...,...,...,...,...
9752,Hey Duggee,(2014– ),TV-Y,8 min,"Animation, Comedy, Family",NaN,Duggee and the Squirrels bake a pie and learn ...,['Adam Longworth'],NaN
9802,Hey Duggee,(2014– ),TV-Y,8 min,"Animation, Comedy, Family",NaN,Duggee arranges for the Squirrels to write to ...,"['Adam Longworth, ', 'Lily-Summer Williams']",NaN
9813,Oni: Thunder God's Tale,(2022– ),TV-Y7,NaN,"Animation, Action, Adventure",NaN,Add a Plot,"[""Daisuke 'Dice' Tsutsumi"", '| ', ' Stars:'...",NaN
9842,Hollywood Insider,(2018– ),NaN,NaN,Talk-Show,NaN,Behind the scenes of The Irishman.,"['Bobby Cannavale, ', 'Robert De Niro, ', 'Al ...",NaN
9843,Hollywood Insider,(2018– ),NaN,NaN,Talk-Show,NaN,Reactions at premiere of The Irishman.,"['Pritan Ambroase', '| ', ' Stars:', 'Rober...",NaN

In [190]:
#DataFrame with Custom Index to DataFrame with Dataframe with default indexes

#Given a dataframe with custom indexing, convert and it to default indexing and display it

print(dataframe_customindex) # printing the original dataframe with custom indexing

print()

dataframe = dataframe_customindex.reset_index()

dataframe # printing the dataframe with default indexes

                         title         year certificate duration  \
rating
8.5                  Cobra Kai     (2018– )       TV-14   30 min
8.7                  The Crown     (2016– )       TV-MA   58 min
8.9           Better Call Saul  (2015–2022)       TV-MA   46 min
5.9              Devil in Ohio       (2022)       TV-MA  356 min
8.6     Cyberpunk: Edgerunners     (2022– )       TV-MA   24 min
...                        ...          ...         ...      ...
6.3             The Imperfects     (2022– )       TV-MA   45 min
8.1           The Walking Dead  (2010–2022)       TV-MA   44 min
8.7                  The Crown     (2016– )       TV-MA   58 min
8.4               Supernatural  (2005–2020)       TV-14   44 min
5.9              Devil in Ohio       (2022)       TV-MA  356 min

                               genre  \
rating
8.5            Action, Comedy, Drama
8.7        Biography, Drama, History
8.9                     Crime, Drama
5.9           Drama, Horror, Mystery
8.6     Animation, Action, Adventure
...                              ...
6.3         Action, Adventure, Drama
8.1          Drama, Horror, Thriller
8.7        Biography, Drama, History
8.4           Drama, Fantasy, Horror
5.9           Drama, Horror, Mystery

                                              description  \
rating
8.5     Decades after their 1984 All Valley Karate Tou...
8.7     Follows the political rivalries and romance of...
8.9     The trials and tribulations of criminal lawyer...
5.9     When a psychiatrist shelters a mysterious cult...
8.6     A Street Kid trying to survive in a technology...
...                                                   ...
6.3     After an experimental gene therapy turns them ...
8.1     Sheriff Deputy Rick Grimes wakes up from a com...
8.7     Follows the political rivalries and romance of...
8.4     Two brothers follow their father's footsteps a...
5.9     When a psychiatrist shelters a mysterious cult...

                                                    stars    votes
rating
8.5     ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177,031
8.7     ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,885
8.9     ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501,384
5.9     ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,773
8.6     ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15,413
...                                                   ...      ...
6.3     ['Morgan Taylor Campbell, ', 'Italia Ricci, ',...    3,130
8.1     ['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...  970,067
8.7     ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,898
8.4     ['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...  439,601
5.9     ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,786

[9957 rows x 8 columns]

,rating,title,year,certificate,duration,genre,description,stars,votes
0,8.5,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,8.7,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,8.9,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,5.9,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,8.6,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
...,...,...,...,...,...,...,...,...,...
9952,6.3,The Imperfects,(2022– ),TV-MA,45 min,"Action, Adventure, Drama",After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...","3,130"
9953,8.1,The Walking Dead,(2010–2022),TV-MA,44 min,"Drama, Horror, Thriller",Sheriff Deputy Rick Grimes wakes up from a com...,"['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...","970,067"
9954,8.7,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,898"
9955,8.4,Supernatural,(2005–2020),TV-14,44 min,"Drama, Fantasy, Horror",Two brothers follow their father's footsteps a...,"['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...","439,601"
9956,5.9,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,786"

In [191]:
#Indexing and Selecting Columns in a DataFrame

#Given a dataframe, select a particular column and display it

print(dataframe) # original dataframe

print()

df = dataframe['title'] # extracting the column 'title'

df

      rating                   title         year certificate duration  \
0        8.5               Cobra Kai     (2018– )       TV-14   30 min
1        8.7               The Crown     (2016– )       TV-MA   58 min
2        8.9        Better Call Saul  (2015–2022)       TV-MA   46 min
3        5.9           Devil in Ohio       (2022)       TV-MA  356 min
4        8.6  Cyberpunk: Edgerunners     (2022– )       TV-MA   24 min
...      ...                     ...          ...         ...      ...
9952     6.3          The Imperfects     (2022– )       TV-MA   45 min
9953     8.1        The Walking Dead  (2010–2022)       TV-MA   44 min
9954     8.7               The Crown     (2016– )       TV-MA   58 min
9955     8.4            Supernatural  (2005–2020)       TV-14   44 min
9956     5.9           Devil in Ohio       (2022)       TV-MA  356 min

                             genre  \
0            Action, Comedy, Drama
1        Biography, Drama, History
2                     Crime, Drama
3           Drama, Horror, Mystery
4     Animation, Action, Adventure
...                            ...
9952      Action, Adventure, Drama
9953       Drama, Horror, Thriller
9954     Biography, Drama, History
9955        Drama, Fantasy, Horror
9956        Drama, Horror, Mystery

                                            description  \
0     Decades after their 1984 All Valley Karate Tou...
1     Follows the political rivalries and romance of...
2     The trials and tribulations of criminal lawyer...
3     When a psychiatrist shelters a mysterious cult...
4     A Street Kid trying to survive in a technology...
...                                                 ...
9952  After an experimental gene therapy turns them ...
9953  Sheriff Deputy Rick Grimes wakes up from a com...
9954  Follows the political rivalries and romance of...
9955  Two brothers follow their father's footsteps a...
9956  When a psychiatrist shelters a mysterious cult...

                                                  stars    votes
0     ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177,031
1     ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,885
2     ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501,384
3     ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,773
4     ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15,413
...                                                 ...      ...
9952  ['Morgan Taylor Campbell, ', 'Italia Ricci, ',...    3,130
9953  ['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...  970,067
9954  ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,898
9955  ['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...  439,601
9956  ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,786

[9957 rows x 9 columns]

0                    Cobra Kai
1                    The Crown
2             Better Call Saul
3                Devil in Ohio
4       Cyberpunk: Edgerunners
                 ...
9952            The Imperfects
9953          The Walking Dead
9954                 The Crown
9955              Supernatural
9956             Devil in Ohio
Name: title, Length: 9957, dtype: object

In [192]:
print(dataframe) # original dataframe

print()

o = dataframe.iloc[:,1] # extracting the column 'title'

o

      rating                   title         year certificate duration  \
0        8.5               Cobra Kai     (2018– )       TV-14   30 min
1        8.7               The Crown     (2016– )       TV-MA   58 min
2        8.9        Better Call Saul  (2015–2022)       TV-MA   46 min
3        5.9           Devil in Ohio       (2022)       TV-MA  356 min
4        8.6  Cyberpunk: Edgerunners     (2022– )       TV-MA   24 min
...      ...                     ...          ...         ...      ...
9952     6.3          The Imperfects     (2022– )       TV-MA   45 min
9953     8.1        The Walking Dead  (2010–2022)       TV-MA   44 min
9954     8.7               The Crown     (2016– )       TV-MA   58 min
9955     8.4            Supernatural  (2005–2020)       TV-14   44 min
9956     5.9           Devil in Ohio       (2022)       TV-MA  356 min

                             genre  \
0            Action, Comedy, Drama
1        Biography, Drama, History
2                     Crime, Drama
3           Drama, Horror, Mystery
4     Animation, Action, Adventure
...                            ...
9952      Action, Adventure, Drama
9953       Drama, Horror, Thriller
9954     Biography, Drama, History
9955        Drama, Fantasy, Horror
9956        Drama, Horror, Mystery

                                            description  \
0     Decades after their 1984 All Valley Karate Tou...
1     Follows the political rivalries and romance of...
2     The trials and tribulations of criminal lawyer...
3     When a psychiatrist shelters a mysterious cult...
4     A Street Kid trying to survive in a technology...
...                                                 ...
9952  After an experimental gene therapy turns them ...
9953  Sheriff Deputy Rick Grimes wakes up from a com...
9954  Follows the political rivalries and romance of...
9955  Two brothers follow their father's footsteps a...
9956  When a psychiatrist shelters a mysterious cult...

                                                  stars    votes
0     ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177,031
1     ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,885
2     ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501,384
3     ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,773
4     ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15,413
...                                                 ...      ...
9952  ['Morgan Taylor Campbell, ', 'Italia Ricci, ',...    3,130
9953  ['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...  970,067
9954  ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,898
9955  ['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...  439,601
9956  ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,786

[9957 rows x 9 columns]

0                    Cobra Kai
1                    The Crown
2             Better Call Saul
3                Devil in Ohio
4       Cyberpunk: Edgerunners
                 ...
9952            The Imperfects
9953          The Walking Dead
9954                 The Crown
9955              Supernatural
9956             Devil in Ohio
Name: title, Length: 9957, dtype: object

In [193]:
print(dataframe) # original dataframe

print()

o = dataframe.loc[:,'title'] # extracting the column 'title'

o

      rating                   title         year certificate duration  \
0        8.5               Cobra Kai     (2018– )       TV-14   30 min
1        8.7               The Crown     (2016– )       TV-MA   58 min
2        8.9        Better Call Saul  (2015–2022)       TV-MA   46 min
3        5.9           Devil in Ohio       (2022)       TV-MA  356 min
4        8.6  Cyberpunk: Edgerunners     (2022– )       TV-MA   24 min
...      ...                     ...          ...         ...      ...
9952     6.3          The Imperfects     (2022– )       TV-MA   45 min
9953     8.1        The Walking Dead  (2010–2022)       TV-MA   44 min
9954     8.7               The Crown     (2016– )       TV-MA   58 min
9955     8.4            Supernatural  (2005–2020)       TV-14   44 min
9956     5.9           Devil in Ohio       (2022)       TV-MA  356 min

                             genre  \
0            Action, Comedy, Drama
1        Biography, Drama, History
2                     Crime, Drama
3           Drama, Horror, Mystery
4     Animation, Action, Adventure
...                            ...
9952      Action, Adventure, Drama
9953       Drama, Horror, Thriller
9954     Biography, Drama, History
9955        Drama, Fantasy, Horror
9956        Drama, Horror, Mystery

                                            description  \
0     Decades after their 1984 All Valley Karate Tou...
1     Follows the political rivalries and romance of...
2     The trials and tribulations of criminal lawyer...
3     When a psychiatrist shelters a mysterious cult...
4     A Street Kid trying to survive in a technology...
...                                                 ...
9952  After an experimental gene therapy turns them ...
9953  Sheriff Deputy Rick Grimes wakes up from a com...
9954  Follows the political rivalries and romance of...
9955  Two brothers follow their father's footsteps a...
9956  When a psychiatrist shelters a mysterious cult...

                                                  stars    votes
0     ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177,031
1     ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,885
2     ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501,384
3     ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,773
4     ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15,413
...                                                 ...      ...
9952  ['Morgan Taylor Campbell, ', 'Italia Ricci, ',...    3,130
9953  ['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...  970,067
9954  ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,898
9955  ['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...  439,601
9956  ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,786

[9957 rows x 9 columns]

0                    Cobra Kai
1                    The Crown
2             Better Call Saul
3                Devil in Ohio
4       Cyberpunk: Edgerunners
                 ...
9952            The Imperfects
9953          The Walking Dead
9954                 The Crown
9955              Supernatural
9956             Devil in Ohio
Name: title, Length: 9957, dtype: object

In [194]:
#Indexing and Selecting Rows in a DataFrame

#Given a dataframe, select first 2 rows and output them

print(dataframe) # original dataframe

print()

o = dataframe.iloc[[0,1], :] # extracting the 1st 2 rows of the dataframe

o

      rating                   title         year certificate duration  \
0        8.5               Cobra Kai     (2018– )       TV-14   30 min
1        8.7               The Crown     (2016– )       TV-MA   58 min
2        8.9        Better Call Saul  (2015–2022)       TV-MA   46 min
3        5.9           Devil in Ohio       (2022)       TV-MA  356 min
4        8.6  Cyberpunk: Edgerunners     (2022– )       TV-MA   24 min
...      ...                     ...          ...         ...      ...
9952     6.3          The Imperfects     (2022– )       TV-MA   45 min
9953     8.1        The Walking Dead  (2010–2022)       TV-MA   44 min
9954     8.7               The Crown     (2016– )       TV-MA   58 min
9955     8.4            Supernatural  (2005–2020)       TV-14   44 min
9956     5.9           Devil in Ohio       (2022)       TV-MA  356 min

                             genre  \
0            Action, Comedy, Drama
1        Biography, Drama, History
2                     Crime, Drama
3           Drama, Horror, Mystery
4     Animation, Action, Adventure
...                            ...
9952      Action, Adventure, Drama
9953       Drama, Horror, Thriller
9954     Biography, Drama, History
9955        Drama, Fantasy, Horror
9956        Drama, Horror, Mystery

                                            description  \
0     Decades after their 1984 All Valley Karate Tou...
1     Follows the political rivalries and romance of...
2     The trials and tribulations of criminal lawyer...
3     When a psychiatrist shelters a mysterious cult...
4     A Street Kid trying to survive in a technology...
...                                                 ...
9952  After an experimental gene therapy turns them ...
9953  Sheriff Deputy Rick Grimes wakes up from a com...
9954  Follows the political rivalries and romance of...
9955  Two brothers follow their father's footsteps a...
9956  When a psychiatrist shelters a mysterious cult...

                                                  stars    votes
0     ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177,031
1     ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,885
2     ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501,384
3     ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,773
4     ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15,413
...                                                 ...      ...
9952  ['Morgan Taylor Campbell, ', 'Italia Ricci, ',...    3,130
9953  ['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...  970,067
9954  ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,898
9955  ['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...  439,601
9956  ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,786

[9957 rows x 9 columns]

,rating,title,year,certificate,duration,genre,description,stars,votes
0,8.5,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,8.7,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"

In [195]:
print(dataframe) # original dataframe

print()

o = dataframe.loc[[0,1], :] # extracting the 1st 2 rows of the dataframe

o

      rating                   title         year certificate duration  \
0        8.5               Cobra Kai     (2018– )       TV-14   30 min
1        8.7               The Crown     (2016– )       TV-MA   58 min
2        8.9        Better Call Saul  (2015–2022)       TV-MA   46 min
3        5.9           Devil in Ohio       (2022)       TV-MA  356 min
4        8.6  Cyberpunk: Edgerunners     (2022– )       TV-MA   24 min
...      ...                     ...          ...         ...      ...
9952     6.3          The Imperfects     (2022– )       TV-MA   45 min
9953     8.1        The Walking Dead  (2010–2022)       TV-MA   44 min
9954     8.7               The Crown     (2016– )       TV-MA   58 min
9955     8.4            Supernatural  (2005–2020)       TV-14   44 min
9956     5.9           Devil in Ohio       (2022)       TV-MA  356 min

                             genre  \
0            Action, Comedy, Drama
1        Biography, Drama, History
2                     Crime, Drama
3           Drama, Horror, Mystery
4     Animation, Action, Adventure
...                            ...
9952      Action, Adventure, Drama
9953       Drama, Horror, Thriller
9954     Biography, Drama, History
9955        Drama, Fantasy, Horror
9956        Drama, Horror, Mystery

                                            description  \
0     Decades after their 1984 All Valley Karate Tou...
1     Follows the political rivalries and romance of...
2     The trials and tribulations of criminal lawyer...
3     When a psychiatrist shelters a mysterious cult...
4     A Street Kid trying to survive in a technology...
...                                                 ...
9952  After an experimental gene therapy turns them ...
9953  Sheriff Deputy Rick Grimes wakes up from a com...
9954  Follows the political rivalries and romance of...
9955  Two brothers follow their father's footsteps a...
9956  When a psychiatrist shelters a mysterious cult...

                                                  stars    votes
0     ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177,031
1     ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,885
2     ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501,384
3     ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,773
4     ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15,413
...                                                 ...      ...
9952  ['Morgan Taylor Campbell, ', 'Italia Ricci, ',...    3,130
9953  ['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...  970,067
9954  ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,898
9955  ['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...  439,601
9956  ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,786

[9957 rows x 9 columns]

,rating,title,year,certificate,duration,genre,description,stars,votes
0,8.5,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,8.7,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"

In [196]:
#Conditional Selection of Rows in a DataFrame

#Given a dataframe, select rows based on a condition

print(dataframe) # original dataframe

print()

# selecting movie rating more than and equals to 6

dataframe_condition = dataframe.loc[dataframe.rating >= 6]

dataframe_condition

      rating                   title         year certificate duration  \
0        8.5               Cobra Kai     (2018– )       TV-14   30 min
1        8.7               The Crown     (2016– )       TV-MA   58 min
2        8.9        Better Call Saul  (2015–2022)       TV-MA   46 min
3        5.9           Devil in Ohio       (2022)       TV-MA  356 min
4        8.6  Cyberpunk: Edgerunners     (2022– )       TV-MA   24 min
...      ...                     ...          ...         ...      ...
9952     6.3          The Imperfects     (2022– )       TV-MA   45 min
9953     8.1        The Walking Dead  (2010–2022)       TV-MA   44 min
9954     8.7               The Crown     (2016– )       TV-MA   58 min
9955     8.4            Supernatural  (2005–2020)       TV-14   44 min
9956     5.9           Devil in Ohio       (2022)       TV-MA  356 min

                             genre  \
0            Action, Comedy, Drama
1        Biography, Drama, History
2                     Crime, Drama
3           Drama, Horror, Mystery
4     Animation, Action, Adventure
...                            ...
9952      Action, Adventure, Drama
9953       Drama, Horror, Thriller
9954     Biography, Drama, History
9955        Drama, Fantasy, Horror
9956        Drama, Horror, Mystery

                                            description  \
0     Decades after their 1984 All Valley Karate Tou...
1     Follows the political rivalries and romance of...
2     The trials and tribulations of criminal lawyer...
3     When a psychiatrist shelters a mysterious cult...
4     A Street Kid trying to survive in a technology...
...                                                 ...
9952  After an experimental gene therapy turns them ...
9953  Sheriff Deputy Rick Grimes wakes up from a com...
9954  Follows the political rivalries and romance of...
9955  Two brothers follow their father's footsteps a...
9956  When a psychiatrist shelters a mysterious cult...

                                                  stars    votes
0     ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177,031
1     ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,885
2     ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501,384
3     ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,773
4     ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15,413
...                                                 ...      ...
9952  ['Morgan Taylor Campbell, ', 'Italia Ricci, ',...    3,130
9953  ['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...  970,067
9954  ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,898
9955  ['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...  439,601
9956  ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,786

[9957 rows x 9 columns]

,rating,title,year,certificate,duration,genre,description,stars,votes
0,8.5,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,8.7,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,8.9,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
4,8.6,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
5,7.8,The Sandman,(2022– ),TV-MA,45 min,"Drama, Fantasy, Horror",Upon escaping after decades of imprisonment by...,"['Tom Sturridge, ', 'Boyd Holbrook, ', 'Patton...","116,358"
...,...,...,...,...,...,...,...,...,...
9951,9.5,Breaking Bad,(2008–2013),TV-MA,49 min,"Crime, Drama, Thriller",A high school chemistry teacher diagnosed with...,"['Bryan Cranston, ', 'Aaron Paul, ', 'Anna Gun...","1,831,359"
9952,6.3,The Imperfects,(2022– ),TV-MA,45 min,"Action, Adventure, Drama",After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...","3,130"
9953,8.1,The Walking Dead,(2010–2022),TV-MA,44 min,"Drama, Horror, Thriller",Sheriff Deputy Rick Grimes wakes up from a com...,"['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...","970,067"
9954,8.7,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,898"
9955,8.4,Supernatural,(2005–2020),TV-14,44 min,"Drama, Fantasy, Horror",Two brothers follow their father's footsteps a...,"['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...","439,601"

In [197]:
#Applying Aggregate Functions

#Given is a dataframe showing duration, rating of movies. Find the average rating per duration

print(dataframe) # original dataframe

print()

occ_average_age = dataframe.groupby('duration')['rating'].mean() # required dataframe

print(occ_average_age)

      rating                   title         year certificate duration  \
0        8.5               Cobra Kai     (2018– )       TV-14   30 min
1        8.7               The Crown     (2016– )       TV-MA   58 min
2        8.9        Better Call Saul  (2015–2022)       TV-MA   46 min
3        5.9           Devil in Ohio       (2022)       TV-MA  356 min
4        8.6  Cyberpunk: Edgerunners     (2022– )       TV-MA   24 min
...      ...                     ...          ...         ...      ...
9952     6.3          The Imperfects     (2022– )       TV-MA   45 min
9953     8.1        The Walking Dead  (2010–2022)       TV-MA   44 min
9954     8.7               The Crown     (2016– )       TV-MA   58 min
9955     8.4            Supernatural  (2005–2020)       TV-14   44 min
9956     5.9           Devil in Ohio       (2022)       TV-MA  356 min

                             genre  \
0            Action, Comedy, Drama
1        Biography, Drama, History
2                     Crime, Drama
3           Drama, Horror, Mystery
4     Animation, Action, Adventure
...                            ...
9952      Action, Adventure, Drama
9953       Drama, Horror, Thriller
9954     Biography, Drama, History
9955        Drama, Fantasy, Horror
9956        Drama, Horror, Mystery

                                            description  \
0     Decades after their 1984 All Valley Karate Tou...
1     Follows the political rivalries and romance of...
2     The trials and tribulations of criminal lawyer...
3     When a psychiatrist shelters a mysterious cult...
4     A Street Kid trying to survive in a technology...
...                                                 ...
9952  After an experimental gene therapy turns them ...
9953  Sheriff Deputy Rick Grimes wakes up from a com...
9954  Follows the political rivalries and romance of...
9955  Two brothers follow their father's footsteps a...
9956  When a psychiatrist shelters a mysterious cult...

                                                  stars    votes
0     ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177,031
1     ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,885
2     ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501,384
3     ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,773
4     ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15,413
...                                                 ...      ...
9952  ['Morgan Taylor Campbell, ', 'Italia Ricci, ',...    3,130
9953  ['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...  970,067
9954  ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,898
9955  ['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...  439,601
9956  ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,786

[9957 rows x 9 columns]

duration
1 min      6.080000
10 min     6.325000
100 min    6.167308
101 min    6.086207
102 min    6.146479
             ...
96 min     5.786408
97 min     5.938235
98 min     6.168235
99 min     5.865476
990 min    9.100000
Name: rating, Length: 291, dtype: float64

In [198]:
#Filling NaN Values in a DataFrame

#Given a dataframe with NaN Values, fill the NaN values with 0

print(dataframe) # original dataframe

print()

dataframe_nullfill = dataframe.fillna(0)

dataframe_nullfill # dataframe after filling NaN values with 1

      rating                   title         year certificate duration  \
0        8.5               Cobra Kai     (2018– )       TV-14   30 min
1        8.7               The Crown     (2016– )       TV-MA   58 min
2        8.9        Better Call Saul  (2015–2022)       TV-MA   46 min
3        5.9           Devil in Ohio       (2022)       TV-MA  356 min
4        8.6  Cyberpunk: Edgerunners     (2022– )       TV-MA   24 min
...      ...                     ...          ...         ...      ...
9952     6.3          The Imperfects     (2022– )       TV-MA   45 min
9953     8.1        The Walking Dead  (2010–2022)       TV-MA   44 min
9954     8.7               The Crown     (2016– )       TV-MA   58 min
9955     8.4            Supernatural  (2005–2020)       TV-14   44 min
9956     5.9           Devil in Ohio       (2022)       TV-MA  356 min

                             genre  \
0            Action, Comedy, Drama
1        Biography, Drama, History
2                     Crime, Drama
3           Drama, Horror, Mystery
4     Animation, Action, Adventure
...                            ...
9952      Action, Adventure, Drama
9953       Drama, Horror, Thriller
9954     Biography, Drama, History
9955        Drama, Fantasy, Horror
9956        Drama, Horror, Mystery

                                            description  \
0     Decades after their 1984 All Valley Karate Tou...
1     Follows the political rivalries and romance of...
2     The trials and tribulations of criminal lawyer...
3     When a psychiatrist shelters a mysterious cult...
4     A Street Kid trying to survive in a technology...
...                                                 ...
9952  After an experimental gene therapy turns them ...
9953  Sheriff Deputy Rick Grimes wakes up from a com...
9954  Follows the political rivalries and romance of...
9955  Two brothers follow their father's footsteps a...
9956  When a psychiatrist shelters a mysterious cult...

                                                  stars    votes
0     ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177,031
1     ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,885
2     ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501,384
3     ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,773
4     ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15,413
...                                                 ...      ...
9952  ['Morgan Taylor Campbell, ', 'Italia Ricci, ',...    3,130
9953  ['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...  970,067
9954  ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,898
9955  ['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...  439,601
9956  ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,786

[9957 rows x 9 columns]

,rating,title,year,certificate,duration,genre,description,stars,votes
0,8.5,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,8.7,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,8.9,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,5.9,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,8.6,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
...,...,...,...,...,...,...,...,...,...
9952,6.3,The Imperfects,(2022– ),TV-MA,45 min,"Action, Adventure, Drama",After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...","3,130"
9953,8.1,The Walking Dead,(2010–2022),TV-MA,44 min,"Drama, Horror, Thriller",Sheriff Deputy Rick Grimes wakes up from a com...,"['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...","970,067"
9954,8.7,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,898"
9955,8.4,Supernatural,(2005–2020),TV-14,44 min,"Drama, Fantasy, Horror",Two brothers follow their father's footsteps a...,"['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...","439,601"
9956,5.9,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,786"

In [199]:
#Applying Functions (UDFs) on DataFrame

#Given is a dataframe showing employee Names and corresponding stipends. 
#Convert the values of stipend column such that values in it greater than 5000 are set to True 
#and the rest are set to False.



print(df1) # original dataframe

print()

df1['stipend'] = df1['stipend'].apply(lambda x:x>5000)

df1 # required dataframe

   name   age  marks
1    88   avi     30
2    40  Anuj     45

KeyError: 'stipend'

In [ ]:
#Getting the Statistical Summary of all the Numerical Features of a DataFrame

#Given a dataframe, generate the statistical summary of all the numerical features present in it

In [200]:
#Getting the Non-Null Count and Data Type for Every Column

#Given a dataframe, output the non-null count and data-type for every column

print(dataf) # the dataframe

print()

dataf.info()

   eid    ename  stipend  position  age
0    1      Sid     True  employee   23
1    2   Ramesh     True  employee   24
2    3      Ron    False    intern   24
3    4    Harry     True  employee   25
4    5     Alex     True  employee   22
5    6  Lakshya     True  employee   25
6    7    Rohan     True  employee   22
7    8    Mohan    False    intern   23
8    9  Chandra     True  employee   26
9   10    Kamal     True  employee   22

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   eid       10 non-null     int64
 1   ename     10 non-null     object
 2   stipend   10 non-null     bool
 3   position  10 non-null     object
 4   age       10 non-null     int64
dtypes: bool(1), int64(2), object(2)
memory usage: 410.0+ bytes

In [201]:
df1 = pd.read_csv('employee.csv')

df1

   eid    ename  stipend  position
0    1      Sid    10000  employee
1    2   Ramesh    10000  employee
2    3      Ron     5000    intern
3    4    Harry    15000  employee
4    5     Alex    20000  employee
5    6  Lakshya    15000  employee
6    7    Rohan    25000  employee
7    8    Mohan     5000    intern
8    9  Chandra    20000  employee
9   10    Kamal    10000  employee

In [202]:
df2 = pd.read_csv('age.csv')

df2

   eid  age
0    1   23
1    2   24
2    3   24
3    4   25
4    5   22
5    6   25
6    7   22
7    8   23
8    9   26
9   10   22

In [203]:
#Joining 2 DataFrames by a Common Column (key)



print(df1) # 1st DataFrame containing employee id (eid), employee name (ename) and stipend, position

print()

print(df2) # 2nd DataFrame containing employee id (eid) and age of employee (age)

print()

dataf = pd.merge(df1, df2, how = 'inner', on = 'eid') # required dataframe

dataf

   eid    ename  stipend  position
0    1      Sid    10000  employee
1    2   Ramesh    10000  employee
2    3      Ron     5000    intern
3    4    Harry    15000  employee
4    5     Alex    20000  employee
5    6  Lakshya    15000  employee
6    7    Rohan    25000  employee
7    8    Mohan     5000    intern
8    9  Chandra    20000  employee
9   10    Kamal    10000  employee

   eid  age
0    1   23
1    2   24
2    3   24
3    4   25
4    5   22
5    6   25
6    7   22
7    8   23
8    9   26
9   10   22

   eid    ename  stipend  position  age
0    1      Sid    10000  employee   23
1    2   Ramesh    10000  employee   24
2    3      Ron     5000    intern   24
3    4    Harry    15000  employee   25
4    5     Alex    20000  employee   22
5    6  Lakshya    15000  employee   25
6    7    Rohan    25000  employee   22
7    8    Mohan     5000    intern   23
8    9  Chandra    20000  employee   26
9   10    Kamal    10000  employee   22

In [204]:
print(dataf) # the dataframe

print()

dataf.describe()

   eid    ename  stipend  position  age
0    1      Sid    10000  employee   23
1    2   Ramesh    10000  employee   24
2    3      Ron     5000    intern   24
3    4    Harry    15000  employee   25
4    5     Alex    20000  employee   22
5    6  Lakshya    15000  employee   25
6    7    Rohan    25000  employee   22
7    8    Mohan     5000    intern   23
8    9  Chandra    20000  employee   26
9   10    Kamal    10000  employee   22

            eid       stipend        age
count  10.00000     10.000000  10.000000
mean    5.50000  13500.000000  23.600000
std     3.02765   6687.467549   1.429841
min     1.00000   5000.000000  22.000000
25%     3.25000  10000.000000  22.250000
50%     5.50000  12500.000000  23.500000
75%     7.75000  18750.000000  24.750000
max    10.00000  25000.000000  26.000000